.default-transition {
    transition-property: all;
    transition-delay: 0.1s;
    transition-duration: var(--duration-default);
    transition-timing-function: var(--ease-in-out-sine);
}

.footer-transition {
    transition-property: all;
    transition-duration: var(--duration-default);
    transition-timing-function: var(--ease-in-out-sine);
}

.bgcol-transition {
    transition-property: background-color;
    transition-delay: 0.1s;
    transition-duration: var(--duration-default);
    transition-timing-function: var(--ease-in-out-sine);
}

.accordion-transition {
    transition: height var(--duration-default) var(--ease-in-out-sine);
}

.no-theme-transition * {
  transition: none !important;
}